@import "bundle.scss";

body{

    background-color: black;
}
header.masthead{
    background-image: url('../img/header-bg.jpg');
}

.page-section{
    h2.section-heading {
        color: $black;
      }
  } 

  .btn-primary {
    background-color: $dp;
    border-color: $dp;
    &:active,
    &:focus,
    &:hover {
      background-color: darken($dp, 7.5%) !important;
      border-color: darken($dp, 7.5%) !important;
      color: white;
    }
    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem $primary(254, 209, 55,.5) !important;
  }
}