// Styling for the masthead
header.masthead {
  text-align: center;
  color: $dp;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  isolation: isolate;
  .intro-text {
    padding-top: 9.375rem;
    padding-bottom: 6.25rem;
    .intro-lead-in {
      font-size: 1rem;
      font-style: italic;
      line-height: 1.2rem;
      margin-bottom: 1.5rem;
      @include serif-font;
    }
    .intro-heading {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 3rem;
      margin-bottom: 1.5rem;
      @include heading-font;
    }
  }
}

#header-bg {
  background-color: rgba(3, 3, 3, 0.602);
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 10rem;
  padding-left: 10rem;
}

@media(min-width:48rem) {
  header.masthead {
    .intro-text {
      padding-top: 18.5rem;
      padding-bottom: 12.4rem;
      .intro-lead-in {
        font-size: 2rem;
        font-style: italic;
        line-height: 2.2rem;
        margin-bottom: 1.5rem;
        @include serif-font;
      }
      .intro-heading {
        font-size: 4.4rem;
        font-weight: 600;
        line-height: 4.5rem;
        margin-bottom: 3.1rem;
        @include heading-font;
      }
    }
  }
}
