// Styling for the masthead

.svg-left-header {
  position: absolute;
  left: 0;
}

.svg-right-header {
  display: none;
}

header.masthead {
  text-align: center;
  color: var(--text);
  background-color: var(--bg);
  //background-image: url('#');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  .intro-text {
    .intro-lead-in {
      font-size: 1rem;
      font-style: italic;
      line-height: 1.2rem;
      margin-bottom: 1.5rem;
      @include serif-font;
    }
    .intro-heading {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 3rem;
      margin-bottom: 1.5rem;
      @include heading-font;
    }
  }
}

@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: transparent;
      .intro-lead-in {
        font-size: 2rem;
        font-style: italic;
        line-height: 2.2rem;
        margin-bottom: 1.5rem;
        @include serif-font;
      }
      .intro-heading {
        font-size: 4.4rem;
        font-weight: 600;
        line-height: 4.5rem;
        margin-bottom: 3.1rem;
        @include heading-font;
      }
    }
  }
  .svg-right-header {
    display: block;
    position: absolute;
    right: 0;
  }
  .svg-left-header {
    position: absolute;
    left: 0;
  }
}
