// Styling for the services section
.serviceBox {
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  border-style: solid;
  border-color: #EB5757;
  color:black;
  background-color: var(--service-bg);
}

#services {
  min-height: 100vh;
}

.modal-content{
background-color: var(--bg);
color:var(--text);
}